@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="https://i.imgur.com/XabtmCk.png">
    <link href="https://fonts.googleapis.com/css?family=Schoolbell" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/2.2.3/jquery.js"></script>
    <title>Bathroom-visualisation</title>
    <style>
        body,
        div,
        p {
            padding: 0;
            margin: 0;
        }

        .bathroom-visualisation {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 1080px;
            margin: 0 auto;
        }

        .background-img {
            width: 100%;
            height: 100%;
        }

        .items {
            float: left;
            position: relative;
        }

        .words {
            font-size: 40px;
            font-family: 'Schoolbell', cursive;
            top: -700px;
            left: 80px;
        }

        .toplight {
            width: 282px;
            top: -630px;
            left: -640px;
        }

        .toplight-img {
            width: 282px;
        }

        .fan {
            width: 345px;
            top: -640px;
            left: 70px;
        }

        .fan-img {
            width: 345px;
        }

        .clothesdryer {
            width: 655px;
            top: -550px;
            left: -300px;
        }

        .clothesdryer-img {
            width: 655px;
        }


        .clotheswasher {
            width: 848px;
            top: -550px;
            left: 55px;
        }

        .clotheswasher-img {
            width: 848px;
        }


        .hairdryer {
            width: 657px;
            top: -570px;
            left: 55px;
        }

        .hairdryer-img {
            width: 657px;
        }


        .waterheater {
            width: 884px;
            top: -570px;
            left: 70px;
        }

        .waterheater-img {
            width: 884px;
        }

        .getitbutton {
            width: 128px;
            height: 55px;
            top: -480px;
            left: -0px;
        }

        #toplight_tree_num {
            top: -1015px;
            left: -600px;
            font-size: 30px;
            font-family: 'Schoolbell', cursive;
        }

        #fan_tree_num {
            top: -990px;
            left: -430px;
            font-size: 30px;
            font-family: 'Schoolbell', cursive;
        }

        #clothdryer_tree_num {
            top: -890px;
            left: -270px;
            font-size: 30px;
            font-family: 'Schoolbell', cursive;
        }

        #clothwash_tree_num {
            top: -815px;
            left: 20px;
            font-size: 30px;
            font-family: 'Schoolbell', cursive;
        }


        #hairdry_tree_num {
            top: -770px;
            left: -170px;
            font-size: 30px;
            font-family: 'Schoolbell', cursive;
        }

        #waterheat_tree_num {
            top: -660px;
            left: 740px;
            font-size: 30px;
            font-family: 'Schoolbell', cursive;
        }

        .navigation-wrapper {
            position: relative;
        }

        .navigation-button {
            will-change: transform;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            position: fixed;
            z-index: 1;
            top: 15px;
            right: 150px;
            background: transparent;
            cursor: pointer;
        }

            .navigation-button .fa {
                width: 50px;
                height: 50px;
            }

        .navigationbutton-img {
            width: 50px;
            height: 50px;
        }


        .navigation-menu ul li {
            list-style: none;
            font-family: impact;
            font-weight: 300;
            color: hsl(0, 0%, 70%);
        }

        .navigation-menu {
            content: '';
            position: fixed;
            top: 0;
            right: 0;
            width: 50%;
            background: #fff;
            height: 100%;
            transform: skewX(0deg) translate(100%, 0);
            transform-origin: top right;
            transition: all .2s ease-in;
            z-index: 1000;
        }

            .navigation-menu ul {
                transform: skewX(-8deg);
                transform-origin: top left;
                position: fixed;
                right: 120px;
                top: 120px;
                width: 400px;
                text-align: right;
            }

                .navigation-menu ul li {
                    position: relative;
                    z-index: 999;
                    font-size: 32px;
                    color: hsl(0, 0%, 10%);
                    line-height: 64px;
                }

                    .navigation-menu ul li a {
                        border: none;
                        color: hsl(0, 0%, 10%);
                        text-decoration: none;
                    }

            .navigation-menu.active {
                transform: skewX(8deg) translate(0, 0);
            }

            .navigation-menu li {
                opacity: 0;
                transform: translate(0, 10px);
                transition: all .0s ease-in .3s;
            }

            .navigation-menu.active li {
                opacity: 1;
                transform: translate(0, 0);
                transition: all .2s ease-in 0s;
            }

                .navigation-menu.active li:nth-child(1) {
                    transition-delay: .3s;
                }

                .navigation-menu.active li:nth-child(2) {
                    transition-delay: .4s;
                }

                .navigation-menu.active li:nth-child(3) {
                    transition-delay: .5s;
                }

                .navigation-menu.active li:nth-child(4) {
                    transition-delay: .6s;
                }

                .navigation-menu.active li:nth-child(5) {
                    transition-delay: .7s;
                }

                .navigation-menu.active li:nth-child(6) {
                    transition-delay: .8s;
                }
    </style>
</head>

<body>
    <div class="bathroom-visualisation">
        <img src="https://i.imgur.com/OMirZLN.png" alt="Can not find the image source." class="background-img">

        <div class="items words">
            <b>How many trees saved in 1 year if you turn off the items:</b>
        </div>

        <div class="items toplight">
            <img src="https://i.imgur.com/Eo7mMhE.png" alt="Can not find the image source." class="toplight-img">
        </div>

        <div class="items fan">
            <img src="https://i.imgur.com/X3vG75V.png" alt="Can not find the image source." class="fan-img">
        </div>

        <div class="items clothesdryer">
            <img src="https://i.imgur.com/SjZ2nK4.png" alt="Can not find the image source." class="clothesdryer-img">
        </div>

        <div class="items clotheswasher">
            <img src="https://i.imgur.com/vajGp7j.png" alt="Can not find the image source." class="clotheswasher-img">
        </div>

        <div class="items hairdryer">
            <img src="https://i.imgur.com/zJ2Rqf0.png" alt="Can not find the image source." class="hairdryer-img">
        </div>

        <div class="items waterheater">
            <img src="https://i.imgur.com/sKgEeNJ.png" alt="Can not find the image source." class="waterheater" -img">
        </div>

        <div class="items getitbutton">
            <a onclick="javascript:window.history.back(-1);" href="#">
                <img src="https://i.imgur.com/H4K5Dwh.png"
                     alt="Can not find the image source." class="getbutton-img" />
            </a>
        </div>


        <div class="items" id="toplight_tree_num">
        </div>

        <div class="items" id="fan_tree_num">
        </div>

        <div class="items" id="clothdryer_tree_num">
        </div>

        <div class="items" id="clothwash_tree_num">
        </div>

        <div class="items" id="hairdry_tree_num">
        </div>

        <div class="items" id="waterheat_tree_num">
        </div>

        @*<audio autoplay hidden loop preload="auto">
                <source src="~/Content/bensound-theelevatorbossanova.mp3" type="audio/mpeg" />
            </audio>*@

        <div class="items navigation-wrapper">
            <div class="items navigation-button">
                <i class="fa fa-bars">
                    <img class="navigationbutton-img" src="https://i.imgur.com/G1qIGAw.png"
                         alt="Can not find the image source." />
                </i>

            </div>
            <div class="navigation-menu">
                <ul>
                    <li><a href="~/Home/Index">HOME</a></li>
                    <li><a href="~/Home/Story">STORY</a></li>
                    <li><a href="~/Home/ChooseRooms">CHOOSE ROOMS</a></li>
                    <li><a href="~/Home/Rules">GUIDLINE</a></li>
                </ul>
            </div>
        </div>

    </div>

    <script>

        $.ajax({
            url: 'getData',
            type: 'GET',
            data: {},
            dataType: 'JSON',
            success: function (response) {
                //console.log(response.stauts);
                //console.log(response.msg);
                console.info(response);
                var data = response;
                var clothdryer = 0;
                var clothwash = 0;
                var fan = 0;
                var hairdry = 0;
                var toplamp = 0;
                var waterheat = 0;


                for (var i = 0; i < data.length; i++) {

                    if (data[i].applianceType == 'clothes_dryer') {
                        var clothdryer = data[i].visualTreeNumber;

                    }

                    else if (data[i].applianceType == 'clothes_washer') {
                        var clothwash = data[i].visualTreeNumber;

                    }

                    else if (data[i].applianceType == 'fan') {
                        var fan = data[i].visualTreeNumber;

                    }
                    else if (data[i].applianceType == 'hair_dryer') {
                        var hairdry = data[i].visualTreeNumber;

                    }

                    else if (data[i].applianceType == 'lamp') {
                        var toplamp = data[i].visualTreeNumber;

                    }

                    else if (data[i].applianceType == 'water_heater') {
                        var waterheat = data[i].visualTreeNumber;

                    }

                    else {
                        continue;
                    }


                }

                document.getElementById("toplight_tree_num").innerHTML = toplamp + " tree";
                document.getElementById("fan_tree_num").innerHTML = fan + " trees";
                document.getElementById("clothdryer_tree_num").innerHTML = clothdryer + " trees";
                document.getElementById("clothwash_tree_num").innerHTML = clothwash + " trees";
                document.getElementById("hairdry_tree_num").innerHTML = hairdry + " trees";
                document.getElementById("waterheat_tree_num").innerHTML = waterheat + " trees";

            }
        })

        var navButton = document.querySelector('.navigation-button');
        var navMenu = document.querySelector('.navigation-menu');
        var win = window;

        function openMenu(event) {

            navButton.classList.toggle('active');
            navMenu.classList.toggle('active');

            event.preventDefault();
            event.stopImmediatePropagation();
        }

        function closeMenu(event) {
            if (navButton.classList.contains('active')) {
                navButton.classList.remove('active');
                navMenu.classList.remove('active');
            }
        }
        navButton.addEventListener('click', openMenu, false);
        win.addEventListener('click', closeMenu, false);




    </script>


</body>

</html>